
*.xmi

*.xmi

*.xml

java/practices/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache

*.index

*.version

*.tree

*.prefs

*.dat

*.properties

java/practices/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache

java/practices/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps

*.log

java/practices/.metadata/.lock

*.zip

*.gen

java/practices/.metadata/.plugins/org.eclipse.core.resources/.history/28/606dbd9dccf0001514b7c6a436a3cae3

java/practices/.metadata/.mylyn/.taskListIndex/segments_1

java/practices/.metadata/.plugins/org.eclipse.core.resources/.history/1e/f062a8f0ccf0001514b7c6a436a3cae3

java/practices/.metadata/

java/practices/Names/.classpath

java/practices/Names/.project

*.fdx

*.fdt

*.fnm

*.frq

*.nrm

*.prx

java/practices/Homework1/.project

java/practices/Homework1/.classpath

*.lock

java/practices/.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_1

*.tii

*.tis

java/practices/Homework1Problem2/.project

java/practices/Homework1Problem2/.classpath

java/practices/Lab2/.classpath

java/practices/Lab2/.project
